/*-------------------------------------------- Reset */

* {
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: red solid 1px; */
}

/*-------------------------------------------- fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,300&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/*-------------------------------------------- Variables */

:root {
  --first-color: #8a2be2;
  --second-color: #463f3a;
  --third-colo: #53f4ff;
  --fourth-color: #1f2937;

  --first-black: #000;

  --first-withe: #fff;
  --second-withe: #f9faf8;
  --third-wite: #e5e7eb;
}

/*-------------------------------------------- header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20%;
  background-color: var(--second-color);
}

.logo {
  height: auto;
  width: 100px;
  background-color: var(--first-color);
  border-radius: 50%;
  border: black solid 2px;
  box-shadow: 1px 1px 2px var(--first-black);
}

.nav-bar {
  display: flex;
  gap: 20px;
}
.action {
  color: var(--first-withe);
}

/*---------------------------------------- main-section */

.main-section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px 10% 100px;
  background-color: var(--second-color);
  gap: 20px;
}

.main-section .container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-title {
  font-size: 48px;
  font-weight: 900;
  color: var(--second-withe);
}

.main-paragraph {
  font-size: 18px;
  color: var(--third-wite);
}

.main-button {
  padding: 5px 10px;
  align-self: flex-start;
  border-radius: 5px;
  border: none;

  background-color: var(--first-color);
  color: var(--second-withe);
  box-shadow: 2px 2px 3px 1px var(--first-black);
}

.main-picture {
  height: auto;
  width: 500px;
}

/* ----------------------------------------------------- second-section */

.main-section.-withe-background {
  background-color: var(--first-withe);
  flex-direction: column;
  align-items: center;

  padding: 100px 10% 100px;
}

.items-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.item-container {
  text-align: center;
}

.item-figure {
  width: 150px;
  height: 150px;

  border: var(--first-color) solid 4px;
  border-radius: 10px;
}

/* ----------------------------------------------------- third-section */

.main-section.-gray-background {
  background-color: var(--third-wite);
  display: block;

  padding: 100px 25% 100px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 500;
  color: var(--fourth-color);
  margin-bottom: 30px;
}

.quote-author {
  text-align: right;
  font-weight: 900;
  font-size: 18px;
}

/* ----------------------------------------------------- fourth-section */

.main-section.-withe-background {
  background-color: var(--first-withe);
  display: block;
  padding: 100px 20% 100px;
}

.cta-container {
  background-color: var(--first-color);
  padding: 40px 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.cta-title,
.cta-paragraph {
  color: var(--first-withe);
}

.main-button.-white-border {
  border: var(--first-withe) solid 1px;
  padding: 5px 20px;
  align-self: center;
}
